@media screen and (min-width: 40rem){
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #menu-button{
        display: none;
    }
    nav,
    nav.show{
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }
    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
    }

}